.header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

.my-nav ul {
  list-style-type: none;
  padding: 0;
}

.my-nav ul li {
  display: inline-flex;
  margin: 0 15px;
}

.my-nav a {
  text-decoration: none;
  color: #333;
}
