:root {
  --primary-color: #ffcc00;
  --secondary-color: #ff7300;
  --url-hero: url("./assets/hero.jpg");
  --footer-color: #333;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  padding: 40px 20px;
  margin: 15px;
}

.btn {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input,
form button {
  padding: 10px;
  margin-top: 5px;
}

footer {
  background-color: var(--footer-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.center {
  display: flex;
  justify-content: center;
}

.card {
  border: none;
}
